<h1>Weapons</h1>
<% @weapons.each do |weapon| %>
  <%= link_to weapon.name, weapon_path(weapon) %>
  <%= cl_image_tag weapon.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to 'Add a weapon', new_weapon_path  %>

