h1, h2, h3 {
  font-family: Nunito;
  color: #fd0054;
  font-family: 'Luckiest Guy', cursive;
  padding-left: 0 !important;
  padding-top: 30px !important;
}

h1 {
  font-size: 28px;
}

p {
  font-family: Nunito;
  color: rgb(130, 130, 130);
}

.background {
  background-color: #fbf9fa;
}

