.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 30px;
  border: 5px solid #fd0054;
  transition: background 0.1s ease;
  font-family: 'Luckiest Guy', cursive;
}

.btn-flat:hover {
  background-color: #fd0054;
  border: 5px solid #fd0054;
  color: white;
}
