.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius : 6px 6px 0px 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: auto;
  z-index: 2;
}

.rounded {
  border-radius : 6px !important;
}

.card-price {
  margin-left: 250px;
  margin-top: 5px;
  border : 1px solid black;
  border-radius : 6px;
  padding : 10px;
  width: 0 auto;
  text-align: center;
  p {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.card-title {
  color: black;
  text-decoration: none;
  font-size: 15px;
    a {
    color:black;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card {
  width: 40%;
  margin: 0 !important;
}

.card p {
  text-align: center;
}

@media (max-width: 992px) {
  #map {
      display: none;
    }
}

.cards-book {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: auto;
  grid-gap: 16px;
  height: 100px;
  z-index: 2;
}

.stars {
  position : absolute;
  margin-left: 95px;
  margin-top: 135px;
}

.cont {
  width: 100px;
}
