.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0;
  color: rgba(0,0,0,0.3);
  border-top: solid 1px rgb(230, 230, 230);
  font-family: Nunito;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FF5A5F;
  opacity: 0.5;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #FF5A5F;
}
