.footer {
  background-color: #2A2A2A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-left: 50px;
  color: rgba(0,0,0,0.3);
  border-top: solid 1px rgb(230, 230, 230);
  font-family: Nunito;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #fbf9fa;
  opacity: 1;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #fd0054;
  opacity: 1;
}
.footer .fa-heart {
  color: #fd0054;
}

.content-wrapper {
  min-height: calc(100vh - 70px - 100px);
}
