.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 0.5px solid #FF5A5F;
  margin-bottom: 20px;
}

.fas {
  color: #FF5A5F;
}

.nav-link {
  color: #FF5A5F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
