.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 0.5px solid #fd0054;
  margin-bottom: 20px;
  background-color: #2A2A2A;
}

.fas {
  color: #fd0054;
}

.nav-link {
  color: white !important;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  width: 60px;
}

.navbar-lewagon .navbar-brand img {
    width: 191px;
}
