.weapon-card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-grow: 1;
  width: 600px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.form-booking-card {
  max-height: 400px;
  margin-left: 30px;
  position: sticky;
  top: 90px;
  padding: 10px;
  .booking_bookingdate {
    flex-direction: column;
    div {
      flex-direction: column !important;
    }
  }
}
