<div class="reviewfront">
<%= simple_form_for([@booking, @review]) do |f| %>
<br>

  <%= f.input :content  %>
  <%= f.input :rating   %>
  <div class= "reviewsubmit">
  <%= f.submit 'Add a review', class:"btn-flat" %>
  </div>
<% end %>
</div>
